[submodule "html/metar.js"]
	path = html/metar.js
	url = https://github.com/skydivejkl/metar.js
[submodule "html/open-iconic"]
	path = html/open-iconic
	url = https://github.com/iconic/open-iconic
	branch = master
