[Unit]
Description=Python3 http.server
After=network.target

[Service]
ExecStartPre=/bin/sleep 30
Type=simple
Restart=always
# Modify for different location of Python3 or other port
ExecStart=/usr/bin/python3 -m http.server 8000 --directory /opt/MMDVMDash/html

[Install]
WantedBy=multi-user.target
