[Unit]
Description=Python3 logtailer for MMDVMDash
After=network.target

[Service]
Type=simple
User=mmdvm
Group=mmdvm
Restart=always
# uncomment if you want to wait (not neccessary)
# ExecStartPre=/bin/sleep 30
# Modify for different location of Python3 or other port
WorkingDirectory=/opt/MMDVMDash/
ExecStart=/usr/bin/python3 /opt/MMDVMDash/logtailer.py

[Install]
WantedBy=multi-user.target
